@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: #000;
    background-size: cover;
    font-family: 'Lato';
  }
  
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  
a{
    color: white;
    text-decoration: none;
}

img{
    width: 20%;
    z-index: 1;
}

#contact{
    text-align: center;
    margin: auto;
    color: white;
}
  header {
    margin-top: 30px;
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  h2, a  {
    text-align: center;
    mix-blend-mode: screen;
    color: white;
  }

  .fade {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari et Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    img{
        width: 50%;
    }
    header{
        margin-top: 90px;
    }
}